.box{
  margin-left: auto;
  margin-right: auto;
}

.labeltext{
  font-size: 14px;
}
.newuser{
  font-size: 12px
}
.bgimage{

  background-repeat: no-repeat;
    background-size:cover;
    background-size: 476px 291px;
}
.success-snack{
  background-color: green !important;
}

.error-snack{
  background-color: red !important;
}

