.loginbtn{
  border:solid 1px white;
  background-color: rgb(39, 12, 189);
  color:white
  }

  .back-color{


  background-repeat: no-repeat;
    background-size:cover;
  }
  .justify-center{
    justify-content: left;
  }
  .bigFont li{
    font-size:20px;

    color: black ;
    font-weight: 500;
    padding-left: 50px;
  }
  .bigFont li.active a{
   color:blue !important;
  }
