<!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary" >
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">



        <li class="nav-item float-right">
          <a class="nav-link " href="#">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav> -->

<div class="back-color">

  <nav class="navbar navbar-expand-lg navbar-light p-4 mb-5 mt-4">
    <!-- <img class="logo-image img-fluid " src="assets/logo.png" > -->


    <div class="collapse navbar-collapse justify-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto bigFont">
        <li class="nav-item active ">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Weather</a>
        </li>


      </ul>

    </div>
    <form class="form-inline my-2 my-lg-0 d-flex mr-3">
      <button class="btn btn-outline-login my-2 my-sm-0 loginbtn mr-3" type="submit">Logout</button>
    </form>
  </nav>


</div>
